.footer {
    background-color: #3e3e59;
    padding: 30px;
}

.footerContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.copyright {
    color: #8d8da6;
    // margin: 40px 0 0;
}
